<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>tabela</title>
</head>
<body>
    
    <table>
        <thead>
            <% header.forEach(el => { %>
                <th>
                    <%= el %>
                </th>
            <% }); %>
        </thead>
        <tbody>
            <% rows.forEach(el=>{ %>
                <tr>
                    <% el.forEach(el =>{ %>
                        <td>
                            <%= el %>
                        </td>
                    <% }) %>
                </tr>
            <% }) %>
        </tbody>
    </table>

</body>
</html>